*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.irParaotrapagia{
  border: 1px solid #ffffff; /* macha na espesura da borda e muda a cor */
  border-radius: 15px; /* aredonda as pontas */
 margin-top: 100px; /* mache o elemento para cime ou para baixo */
  height: 380px; /* aumenta a largura */
  width: 380px;  /* aumenta a altura */
  align-content: center; /*  */
  margin-left: 445px; /*  */
  opacity: 0.8; /*  */
  background-color: #1f032f; /*  */
 color: #ffffff; /*  */
}
.nome{
 color: #592c74; 
 margin-left: 10px; 
}
.nikname{
 font-size: 30px;
 margin-left: 100px; 
 margin-top: 10px; 
}
.idade{
 font-size: 20px;
 margin-left: 20px; 
 margin-top: 20px; 
}
.pokebolas{
 margin-left: 90px; 
 margin-top: 137px;
}

.botao img{
 border: 2px solid  #592c74 ; 
 background: #1f032f;
 height: 40px;
 width: 40px; 
 margin-left: 16px; 
 margin-top: 9px;
}
.fundo img{
 position: absolute;    
 width: 207vh;   
height: 100vh;
margin-top: -100px;
object-fit: cover;
z-index: -1; 
}
.treinador img{
    position: absolute;
    margin-left: 739px;    
    margin-top: 40px;  
    z-index: 0; 
}