*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.irParaotrapagia{
  border: 1px solid #ffffff; 
  border-radius: 10px;
 margin-top: 100px;
  height: 380px;
  width: 380px;  
  align-content: center;
  margin-left: 700px;
  opacity: 0.8;
  background-color: #1f032f;
 color: #ffffff;
}
.nome{
 color: #592c74; 
 margin-left: 10px; 
}
.nikname{
 font-size: 30px;
 margin-left: 100px; 
 margin-top: 10px; 
}
.idade{
 font-size: 20px;
 margin-left: 20px; 
 margin-top: 20px; 
}
.pokebolas{
 margin-left: 90px; 
 margin-top: 137px;
}

.botao img{
 border: 2px solid  #592c74 ; 
 background: #1f032f;
 height: 40px;
 width: 40px; 
 margin-left: 16px; 
 margin-top: 9px;
}
.fundo img{
 position: fixed;    
 width: 280vh;   
height: 100vh;
margin-top: -100px;
object-fit: cover;
z-index: -1; 
}
.treinador img{
    position: absolute;
    margin-left: 1040px;    
    margin-top: 40px;  
}