*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
  overflow: hidden; /* Esconde as barras de rolagem vertical e horizontal */
  width: 100vw;  /* Garante que o corpo tenha a largura exata da tela */
  height: 100vh; /* Garante que o corpo tenha a altura exata da tela */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif /* altera a font */
}

.irParaotrapagia{
  border: 1px solid #ffffff; /* macha na espesura da borda e muda a cor */
  border-radius: 15px; /* aredonda as pontas */
 margin-top: 100px; /* mache o/os elemento para cime ou para baixo */
  height: 380px; /* aumenta a largura */
  width: 380px;  /* aumenta a altura */
  align-content: center; /*  */
  margin-left: 445px; /* move o/os elementos para o lado */
  opacity: 0.8; /* deicha o elemento mas tramparente */
  background: #1f032f; /* muda a cor do elemento */
 color: #ffffff; /* muda a cor do texto */
}
.nome{
 color: #592c74; 
 margin-left: 10px; 
}
.nikname{
 font-size: 30px; /* almenta ou diminui a fonte */
 margin-left: 100px; 
 margin-top: 10px; 
}
.idade{
 font-size: 20px;
 margin-left: 20px; 
 margin-top: 20px; 
}
.pokebolas{
 margin-left: 90px; 
 margin-top: 137px;
}

.botao img{
 border: 2px solid  #592c74 ; 
 background: #1f032f;
 height: 40px;
 width: 40px; 
 margin-left: 16px; 
 margin-top: 9px;
}
.fundo img{
  position: absolute; 
  top: 0;  /* Alinha no topo absoluto da tela */
  width: 100vw;  /* Ocupa toda a largura da janela */
  height: 100vh;  /* Ocupa toda a altura da janela */
  object-fit: cover;  /* Mantém a proporção cortando os excessos */
  z-index: -1; /* Fica atrás de tudo */
}
.treinador img{
    position: absolute;
    margin-left: 739px;    
    margin-top: 140px;  
    z-index: 0; 
}