.pokemon-containerPrincipal{
    border: 3px solid rgb(255, 238, 0); 
    border-radius: 10px;
    height: 450px;
    width: 330px;  
    display: flex;
    background: #9767b3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
  }
  .nomepokemonPrincipal {
    font-size: 25px;
    margin-top: -2px;
    margin-left: 7px;
    }
   .imagenPrincipal img{
    transform: scale(2.7); 
    height: 100px;
    width: 100px;  
    margin-left: 120px;
    margin-top: 40px; 
  }
  .imagen2Principal img{
    border: 1px solid rgb(0, 0, 0);
    height: 180px;
    width: 300px; 
    margin-left: 11px;
    margin-top: -142px; 
  }
  
  .HPPrincipal {
   font-size: 30px;
   margin-top: 2px;
   margin-left: 5px;
  }
  .attackPrincipal {
    font-size: 30px;
    margin-top: 140px;
    margin-left: 166px;
   }
   .tipoPrincipal {
    font-size: 25px;
    margin-top: -445px;
    margin-left: 213px;
   }
  
  