*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1{
  text-align: center;
  padding: 50px;
  font-size: 42px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}
.App{
  background: #5b1f83;
  padding: 640px;
  margin-top: -650px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tipo-natureza{
   background: #8fc263; 
}

.voltaae img{
  height: 50px;
  width: 100px; 
  margin-left: -40px; 
 margin-top: -500px;
}
 .bo img{
  margin-left: 300px; 
  margin-top: -130px;
  height: 200px;
  width: 200px; 
  border-radius: 60px;
  position: absolute;
}
 .bo2 img{
  height: 200px;
  width: 200px; 
  margin-left: 300px; 
  margin-top: 130px;
  border-radius: 60px;
  position: absolute;
}
.bo3 img{
  height: 200px;
  width: 200px; 
  margin-left: 300px; 
  margin-top: 400px;
  border-radius: 60px;
  position: absolute;
}

.voltaae{
  background: none;
  color: wheat;
  margin-left: -790px; 
  margin-top: 1px;
}
.pokemon-container {
  border: 3px solid rgb(255, 238, 0); 
  border-radius: 10px;
  height: 450px;
  width: 330px;  
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);

}
.nomepokemon {
  font-size: 23px;
  margin-top: -152px;
  margin-left: 10px;
  position: absolute;
  }
 .imagen img{
  transform: scale(2.7); 
  height: 100px;
  width: 100px;  
  margin-left: 120px;
  margin-top: 40px; 
}
.imagen2 img{
  border: 1px solid rgb(0, 0, 0);
  height: 180px;
  width: 300px; 
  margin-left: 12px;
  margin-top: 16px; 
  position: absolute;
}
.HP {
 font-size: 30px;
 margin-top: 90px;
 margin-left: 9px;
 position: absolute;
}
.attack{
  font-size: 30px;
  margin-top: 260px;
  margin-left: 185px;
  position: absolute;
 }
 .tipo{
  font-size: 26px;
  margin-top: -155px;
  margin-left: 218px;
  position: absolute;
 }
 .tipo-corpo{
 background: #6c2a92;
 }

    .tipo-corpo .tipo {
      font-size: 26px;
      margin-top: -155px;
      margin-left: 248px;
      position: absolute;
     }

     .tipo-corpo .attack {
      font-size: 30px;
      margin-top: 260px;
      margin-left: 178px;
      position: absolute;
     }

.tipo-terra{
 background: #b4b4b4; 
} 
.tipo-terra .imagen img{
  transform: scale(2.2); 
  height: 100px;
  width: 100px;  
  margin-left: 120px;
  margin-top: 55px; 
}

.tipo-terra .tipo {
  font-size: 26px;
  margin-top: -169px;
  margin-left: 258px;
  position: absolute;
 }
 .tipo-terra .HP {
  font-size: 30px;
  margin-top: 70px;
  margin-left: 9px;
  position: absolute;
 }
 .tipo-terra .attack {
   font-size: 30px;
   margin-top: 248px;
   margin-left: 198px;
   position: absolute;
  }
  .tipo-terra .nomepokemon {
    font-size: 23px;
    margin-top: -167px;
    margin-left: 10px;
    position: absolute;
    }
 .App-link {
   color: #5b1f83;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  