*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo img{
 position: fixed;    
 width: 210vh;   
height: 100vh;
object-fit: cover;
z-index: -1; 
}
.treinador img{
    position: absolute;
    margin-left: 720px;    
    margin-top: 120px;  
}



